# Dependency directories
/node_modules

# Vite cache
/.vite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.DS_Store

# Test results
coverage/
project-module-3/
project-module-3/
